<main class="score-cmp">
	<div class="d-flex p-3">
		<div class="flex-grow-1">


			<h3 class="congrats">CONGRATS <span id="name"></span></h3>

		<div class="cadre">
			<div><img src="./happy_homer.jpg" class="happy" alt="homer"></div>

			<div class="resultats">
					<p>Nombre de pairs : <span class="size" id="size"></span>
					</p>
					<p>Temps réalisé : <span class="time" id="time"></span> s</p>
			</div>
		</div>

		</div>
	</div>
</main>
