@import "../../styles/_colors.scss";

/*****
 * Score Component
 */

/* score { ... } */
.score-cmp img.happy:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-3deg); }
    20% { transform: translate(-3px, 0px) rotate(3deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(3deg); }
    50% { transform: translate(-1px, 2px) rotate(-3deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-3deg); }
}

.cadre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary-background;
    padding: 25px 25px 10px 25px;
    border: solid $primary-border;
    border-radius: 30px;}


.resultats {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $primary;
    font-size: 1.5em;
}